body {
    background-color: #181b23;
}

.header{
    
    height: 50px;
    width: 100%;

    margin-bottom: 30px;

    line-height: 50px;    
    text-align: center;
    background-color: whitesmoke;
    
}

.header > h3 {
    line-height: inherit;
}