body {
    background-color: #181b23;
}

.header{
    
    height: 50px;
    width: 100%;

    margin-bottom: 30px;

    line-height: 50px;    
    text-align: center;
    background-color: whitesmoke;
    
}

.header > h3 {
    line-height: inherit;
}


img.img-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

    img.img-icon:hover {
        opacity: 1.0;
    }

.nav-link, .nav-link:link, .nav-link:hover {
    color: mediumseagreen;
}

/* User Editor */
form.edit{

    width: 500px;
    margin: 20px;
    
    color: antiquewhite;
}

#save{
    width: 200px;
}

#cancel{
    width: 90px;
}

