@using Guzhikova.Task10;
@using Guzhikova.Task6.Entities;

@{
    Layout = "~/Pages/Layouts/_Layout.cshtml";
    Page.Title = "Award data";

    WebManage manage = new WebManage();

    IEnumerable<User> users = manage.UserLogic.GetAll();
    IEnumerable<Award> awards = manage.AwardLogic.GetAll();

    string awardIdAttribute = "";


    string actionParameter = "add";
    string awardTitle = "";
    string awardAvatarSrc = "";


    if (Request.QueryString["action"] == "edit" && Request.QueryString["id"] != null)
    {

        int id;
        Int32.TryParse(Request.QueryString["id"], out id);

        awardIdAttribute = id.ToString();

        Award currentAward = manage.AwardLogic.GetById(id);
        awardTitle = currentAward.Title;

        awardAvatarSrc = manage.GetAwardAvatar(currentAward);
  
        actionParameter = "update";
    }

}




<form class="edit" action="/?entity=award&action=@actionParameter" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>
            Award
            @if (actionParameter == "update")
            {
                <img class="w-25 h-25 rounded-circle" src=@awardAvatarSrc>
            }
        </legend>
        <div class="form-group">
            <input type="hidden" name="awardId" id="awardId" value=@awardIdAttribute>
            <label for="awardTitle">Title</label>
            <input type="text" name="awardTitle" id="awardTitle" class="form-control" required placeholder="Award title" value=@awardTitle>
            <br />
            <label for="awardImage">Image</label>
            <input type="file" name="awardImage" class="form-control" accept="image/jpeg,image/jpg,image/png,image/gif"/>
            <br />

            <button type="submit" class="btn btn-success" id="save">Save</button>
            <text>	&emsp;</text>
            <a href="/" class="btn btn-danger">Cancel</a>

        </div>
    </fieldset>
</form>

