@using Guzhikova.Task10;
@using Guzhikova.Task6.Entities;

@{
    Layout = "~/Pages/Layouts/_Layout.cshtml";
    Page.Title = "User data";

    WebManage manage = new WebManage();

    IEnumerable<User> users = manage.UserLogic.GetAll();
    IEnumerable<Award> awards = manage.AwardLogic.GetAll();
    IEnumerable<Award> userAwards = null;

    string actionParameter = "add";
    string userName = "";
    string dateOfBurth = "";
    string userIdAttribute = "";
    string checkedAttribute = "";
    string userAvatarSrc = "";
    string awardAvatarSrc = "";

    if (Request.QueryString["action"] == "edit" && Request.QueryString["id"] != null)
    {

        int id;
        Int32.TryParse(Request.QueryString["id"], out id);

        userIdAttribute = id.ToString();

        User currentUser = manage.UserLogic.GetById(id);
        userName = currentUser.Name;
        dateOfBurth = currentUser.DateOfBirth.ToString("yyyy-MM-dd");

        userAvatarSrc = (currentUser.Image != null)
                            ? $"data:image/png;base64,{Convert.ToBase64String(currentUser.Image)}"
                                : @"/Content/images/user.png";

       

        userAwards = manage.AwardLogic.GetUserAwardsByUserId(currentUser.Id);

        actionParameter = "update";
    }

}


<form class="edit" action="/?entity=user&action=@actionParameter" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>User 
        @if (actionParameter=="update")
        {
            <img class="w-25 h-25 rounded-circle" src=@userAvatarSrc>
        }
        
        </legend>
        <div class="form-group">
            <input type="hidden" name="userId" id="userId" value=@userIdAttribute>
            <label for="userName">Name</label>
            <input type="text" name="userName" id="userName" class="form-control" placeholder="User name" value=@userName>
            <br />
            <label for="myPassword">Date of birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" placeholder="dd.mm.yyyy" value=@dateOfBurth>
            <br />
            <label for="userImage">Image</label>
            <input type="file" name="userImage" class="form-control" />
            <br />

            @if (awards != null && awards.Count() > 0)
            {
                <h5>Awards:</h5>
            }

            @foreach (var award in awards)
            {
                 awardAvatarSrc = (award.Image != null)
                    ? $"data:image/png;base64,{Convert.ToBase64String(award.Image)}"
                        : @"/Content/images/award.png";

                if (userAwards != null)
                {
                    foreach (var userAward in userAwards)
                    {
                        if (userAward.Id == award.Id)
                        {
                            checkedAttribute = "checked";
                        }


                    }
                }


                <div class="checkbox">
                    <label>
                        <img class="rounded-circle" src=@awardAvatarSrc style="width: 30px; padding-bottom: 10px;">                    
                        <input type="checkbox" name="awards" value="@award.Id" @checkedAttribute> @award.Title
                    </label>
                </div>

                @(checkedAttribute = "")
            }


            <button type="submit" class="btn btn-success" id="save">Save</button>
            <text>	&emsp;</text>
            <a href="/" class="btn btn-danger">Cancel</a>
        </div>
    </fieldset>
</form>