body {
    background-color: #181b23;
}

/* HEADER */
header {
    position:fixed;
    top:0;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    line-height: 50px;
    text-align: center;
    background-color: whitesmoke;
}

    .header > h3 {
        line-height: inherit;
        color: #3d3d3d;
    }

.header  #admin {
    margin-right: -10px;
    line-height: 25px;
    background-color: whitesmoke;
    font-weight: bold;
}
  


/* CONTAINER */
.container
{
    margin-top: 80px;
}

img.img-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

    img.img-icon:hover {
        opacity: 1.0;
    }

.nav-link, .nav-link:link, .nav-link:hover {
    color: antiquewhite;
}


/* User Editor */
form.edit {
    width: 500px;
    margin: 20px;
    color: antiquewhite;
}

#save {
    width: 200px;
}

#cancel {
    width: 90px;
}



/*Admin Page*/
table#admin
{
    color: beige;
    line-height: 15px;

}

#admin tr 
{
    width: 50px;
    height: 15px;
}

#admin label
{
    color: darkcyan;
}

#admin .checkbox
{
    margin-top: 10px;
}