USE [master]
GO
/****** Object:  Database [UsersAndAwards]    Script Date: 22.02.2020 12:34:22 ******/
CREATE DATABASE [UsersAndAwards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersAndAwards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UsersAndAwards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersAndAwards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UsersAndAwards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAndAwards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAndAwards]
GO
/****** Object:  UserDefinedTableType [dbo].[intTable]    Script Date: 22.02.2020 12:34:22 ******/
CREATE TYPE [dbo].[intTable] AS TABLE(
	[id] [int] NULL
)
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Date_of_birth] [date] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_awards]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_awards](
	[user_ID] [int] NOT NULL,
	[awardID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users_awards]  WITH CHECK ADD  CONSTRAINT [FK_AwardID_users_awards] FOREIGN KEY([awardID])
REFERENCES [dbo].[Awards] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_awards] CHECK CONSTRAINT [FK_AwardID_users_awards]
GO
ALTER TABLE [dbo].[users_awards]  WITH CHECK ADD  CONSTRAINT [FK_UserID_users_awards] FOREIGN KEY([user_ID])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_awards] CHECK CONSTRAINT [FK_UserID_users_awards]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward] (@title nvarchar(50), @image varbinary(max), @id INT OUTPUT)

AS
BEGIN

INSERT INTO Awards (Title, Image)
Values (@title, @image)

SET @id = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser](
	@name NVARCHAR(50),
	@date_of_birth DATE,
	@image VARBINARY(MAX),
	@id INT OUTPUT)
AS
BEGIN
	INSERT INTO Users (Name, Date_of_birth, Image)
	Values (@name, @date_of_birth, @image)

	set @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddUsersIdToAward]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUsersIdToAward] 
	@id_award INT,
	@id_user INT
AS
BEGIN
	INSERT INTO users_awards(user_ID, awardID)
	VALUES (@id_user, @id_award)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAwardById]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAwardById](@id int) 
	
AS
BEGIN
	DELETE FROM Awards 
	WHERE ID = @id 

	END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserById]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUserById] (@id int) 
	
AS
BEGIN
	DELETE FROM Users 
	WHERE ID = @id 
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardById]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardById] 
	@id INT,
	@title NVARCHAR(50) OUTPUT,
	@image VARBINARY(MAX) OUTPUT

AS
BEGIN


	SET @title = (SELECT Title FROM Awards WHERE ID = @id);
	SET @image = (SELECT Image FROM Awards WHERE ID = @id);

	SELECT user_ID 
	FROM users_awards  WHERE awardID = @id;

END

GO
/****** Object:  StoredProcedure [dbo].[GetAwards]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwards]
	
AS
BEGIN
SELECT ID, Title, Image, user_ID FROM Awards  as aw
LEFT JOIN users_awards as ua
ON ua.awardID = aw.ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardWithoutUsersById]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardWithoutUsersById] 
@id INT
AS
BEGIN
	SELECT Title, Image FROM Awards WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById] 
	@id INT

AS
BEGIN
	
	SELECT Name, Date_of_birth, Image
	FROM Users WHERE (ID = @id)

END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUsers] 
	
AS
BEGIN

	SELECT ID, Name, Date_of_birth, Image
	FROM Users
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsersIdForAward]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUsersIdForAward] 
	@id INT
AS
BEGIN
SELECT user_ID 
	FROM users_awards  WHERE awardID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAward]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateAward]
	@id INT,
	@title NVARCHAR(50),
	@image VARBINARY(MAX)
AS
BEGIN

UPDATE Awards 
	SET Title = @title, Image = @image
	WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 22.02.2020 12:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUser] 
	@id INT,
	@name NVARCHAR(50),
	@date_of_birth DATE,
	@image VARBINARY(MAX)
	
AS
BEGIN
	
	UPDATE Users 
	SET Name = @name, Date_of_birth = @date_of_birth, Image = @image
	WHERE ID = @id

END
GO
USE [master]
GO
