<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- The value for DAL key should be "File" or "Memory"-->
    <add key="DAL" value="Memory"/>
  </appSettings>
</configuration>