
body
{
    font-family: 'Times New Roman', Times, serif;
    font-size:12pt;
    background-color: black;
    
}

div.content
{   
    position: relative;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    background: linear-gradient(to top, rgb(196, 196, 196), white);
    text-align: left;
    border: 1px solid white;
    border-radius: 0 0 10px 10px;
    z-index: -2;
}

.content p 
{ 
    margin: 0;
    padding-top: 10px;
}

div.title
{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-11px;
    margin-left:-11px;
    padding: 5px;
    background-color: black;
    font-size: 18pt;
    font-weight: bold;
    color: rgb(255, 188, 107);
}

.title:after{
    content: '1';
    position: absolute;
    top:-1px;
    margin-left: -20px;     
    padding: 5px;     
    width:40px;
    background-color:inherit;
    z-index: -1;  

    -moz-transform: skew(-30deg); 
    -ms-transform: skew(-30deg); 
    -webkit-transform: skew(-30deg);
    -o-transform:skew(-30deg);
    transform:skew(-30deg);

    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;
  }
