@{
    Layout = "~/Pages/Layouts/_Layout.cshtml";
}


@section Header
{
    <!-- HEADER -->
    <style>
    
    </style>

    <header>
        <div class="header">
            <h3 class="align-middle">Task 10. Users and Awards</h3>

            @RenderPage("~/Pages/Partials/_FormLogin.cshtml")

        </div>



    </header>
}

@RenderBody()