@{
    Layout = "~/Pages/Layouts/_Layout.cshtml";
}


@section Header
{
    <!-- HEADER -->
    <header>
        <div class="header">
            <h3 class="align-middle">Task 10. Users and Awards</h3>
        </div>
    </header>
}

@RenderBody()