@using Guzhikova.Task10.Control;

   @{
       Layout = "~/Pages/Layouts/_Layout.cshtml";

       RolesManage rolesManage = new RolesManage();

       string isSigninVisible = "block";
       string isSignoutVisible = "none";
       string display = "";

       if (User.Identity.IsAuthenticated)
       {
           isSigninVisible = "none";
           isSignoutVisible = "block";
       }


       if (!rolesManage.IsUserInRole(User.Identity.Name, "Admin"))
       {
           display = "style = display:none";
       }
}


@section Header
{
    <!-- HEADER -->

    <header>

        <div class="header">
            <div id="signin" style="float: right; margin-right: 10px; display: @isSigninVisible">
                <a href="~/Pages/FormLogin">Вход</a> |
                <a href="~/Pages/Registration">Регистрация</a>
            </div>
            <div style="float: right; margin-right: 10px; display: @isSignoutVisible">
                Hello @User.Identity.Name!
                <a href="~/Pages/Signout.cshtml">Sign out</a>
                <p id="admin"><a href="~/Pages/Administration" @display>ADMIN SECTION</a></p>
            </div>
            <h3 class="align-middle"><a href="/" class="style-none">Task 10-11. Users and Awards</a></h3>

        </div>


    </header>
}

@RenderBody()