

@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <title> @Page.Title </title>
</head>


<body>
    @RenderSection("Header", false)
    <!-- ОСНОВНОЕ СОДЕРЖИМОЕ -->
    <section>
        <div class="container ">
            @RenderBody()
        </div>
    </section>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
