@using Guzhikova.Task10;
@using Guzhikova.Task10.Control;
@using Guzhikova.Task6.Entities;

@{
    Layout = "~/Pages/Layouts/_FullLayout.cshtml";
    Page.Title = "User data";
    RolesManage rolesManage = new RolesManage();

       if (!rolesManage.IsUserInRole(User.Identity.Name, "Admin"))
    {
        Response.Redirect("~");
    }


    WebManage manage = new WebManage();

    IEnumerable<User> users = manage.UserLogic.GetAll();
    IEnumerable<Award> awards = manage.AwardLogic.GetAll();
    IEnumerable<Award> userAwards = null;




    string actionParameter = Request.QueryString["action"];
    string idParameter = Request.QueryString["id"];

    string userName = "";
    string dateOfBurth = "";
    string userIdAttribute = "";
    string checkedAttribute = "";
    string userAvatarSrc = "";
    string awardAvatarSrc = "";


    if (actionParameter == "edit" && idParameter != null)
    {
        userIdAttribute = idParameter;
        Int32.TryParse(idParameter, out int id);

        User currentUser = manage.UserLogic.GetById(id);
        userName = currentUser.Name;
        dateOfBurth = currentUser.DateOfBirth.ToString("yyyy-MM-dd");

        userAvatarSrc = manage.GetUserAvatar(currentUser);

        userAwards = manage.AwardLogic.GetUserAwardsByUserId(currentUser.Id);

        actionParameter = "update";
    }
}


<form class="edit" action="/?entity=user&action=@actionParameter" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>
            User
            @if (actionParameter == "update")
            {
                <img class="w-25 h-25 rounded-circle" src=@userAvatarSrc>
            }

        </legend>
        <div class="form-group">
            <input type="hidden" name="userId" id="userId" value=@userIdAttribute>
            <label for="userName">Name</label>
            <input type="text" name="userName" id="userName" class="form-control" required placeholder="User name" value=@userName>
            <br />
            <label for="myPassword">Date of birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" required placeholder="dd.mm.yyyy" value=@dateOfBurth>
            <br />
            <label for="userImage">Image</label>
            <input type="file" name="userImage" class="form-control" accept="image/jpeg,image/jpg,image/png,image/gif" />
            <br />

            @if (awards != null && awards.Count() > 0)
            {
                <h5>Awards:</h5>
            }

            @foreach (var award in awards)
            {
                awardAvatarSrc = manage.GetAwardAvatar(award);

                if (userAwards != null)
                {
                    foreach (var userAward in userAwards)
                    {
                        if (userAward.Id == award.Id)
                        {
                            checkedAttribute = "checked";
                        }
                    }
                }

                <div class="checkbox">
                    <label>
                        <img class="rounded-circle" src=@awardAvatarSrc style="width: 30px; padding-bottom: 10px;">
                        <input type="checkbox" name="awards" value="@award.Id" @checkedAttribute> @award.Title
                    </label>
                </div>

                @(checkedAttribute = "")
            }


            <button type="submit" class="btn btn-success" id="save">Save</button>
            <text>	&emsp;</text>
            <a href="/" class="btn btn-danger">Cancel</a>
        </div>
    </fieldset>
</form>